<h1>Add a session</h1>

<input type="button" class="btn btn-default" value="CRUD" OnClick="window.location.href='/CRUD' "/>

<form action="/create/session.post" method="post">
    <div class="form-group">
        <label>Date:</label>
        <input type="date" name="date" >
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>
