<h2>CRUD</h2>
<HR>
<a class="btn btn-primary" href="/CRUD/user" role="button">Users</a>
<a class="btn btn-primary" href="/CRUD/skill" role="button">Skills</a>
<a class="btn btn-primary" href="/CRUD/session" role="button">Sessions</a>
<a class="btn btn-primary" href="/CRUD/course" role="button">Courses</a>