<h2>Edit session</h2>

<input type="button" class="btn btn-default" value="CRUD" OnClick="window.location.href='/CRUD' "/>

<form action="/edit/session.post/{{session.id}}" method="post">
    <div class="form-group">
        <label>Date:</label>
        <input type="date" name="date" value={{session.date}}>
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>
